* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

div.band {
    width: 100%;
    height: 15%;
}

.bg-green {
    background-color: #009688;
}

.bg-gray-dark {
    background-color: #DADBD3;
}

.bg-gray-dark-alternative {
    background-color: #B1B1B1;
}

.bg-gray {
    background-color: #EAEAEA;
}

.bg-gray-light {
    background-color: #FAFAFA;
}

div.interface-container {
    position: absolute;
    height: 95%;
    width: 80%;
    background-color: white;
    top: 2.5%;
    left: 10%;
}

.nav-container {
    border-right: 1px solid #E7E7E7;
    height: 100%;
    width: calc(40% - 1px);
}

.section-header {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 0.5rem;
}

.section-header div {
    display: flex;
    align-items: center;
}

.section-header img {
    width: 13%;
    border-radius: 25rem;
}

.section-header div i {
    color: #B1B1B1;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.info-message-container {
    width: 100%;
    height: 10%;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    margin:  0;
}

.ball-container {
    background-color: white;
    border-radius: 25rem;
    height: 3rem;
    width: 3rem;
    color: #8EDAFC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem 0 1rem;
}

.ball-container i {
    font-size: 1.5rem;
}

.info-message-container .text-info a {
    color: #B1B1B1;
}

.nav-main {
    width: 100%;
    height: 82%;
}

.search-bar-container {
    width: 100%;
    height: 8%;
    padding: 0.5rem;
}

.search-bar-container div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #EAEAEA;
    border-radius: 0.3rem;
}

.search-bar-container div i {
    flex-basis: 20%;
    text-align: center;
    color: #7e7e7e;
}

.search-bar-container div input {
    flex-basis: 80%;
    height: 100%;
    width: 100%;
    border: 0;
    border-left: 1px solid #EAEAEA;
    padding-left: 0.5rem;
}

.search-bar-container div input::placeholder {
    color: #B1B1B1;
}

.crono-messages-container {
    width: 100%;
    height: 92%;
    overflow-y: scroll;
}