<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app">
        <main class="bg-gray-dark">
            <div class="band bg-green">
            </div>
            <div class="interface-container">
                <section class="nav-container">
                    <div class="section-header bg-gray">
                        <div>
                            <img src="./img/avatar_io.jpg" alt="my profile image">
                            <p>
                                Sofia
                            </p>
                        </div>
                        <div>
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="info-message-container">
                        <div class="ball-container">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="text-info">
                            <p>
                                Ricevi notifiche di nuovi messaggi
                            </p>
                            <a href="">
                                Attiva notifiche desktop
                            </a>
                        </div>
                    </div>
                    <div class="nav-main">
                        <div class="search-bar-container bg-gray-light">
                            <div>
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="text" placeholder="Cerca o inizia una nuova chat">
                            </div>
                        </div>
                        <div class="crono-messages-container">
                            <ul>
                                <li v-for="contact in contactsList" :data-id="contact.phonenumber" @click="openChatFunc($event)">
                                        <div class="info-chat-container">
                                            <img :src="contact.avatar" alt="">
                                            <div class="text-info-chat">
                                                <p class="contact-name">
                                                    {{contact.name}}
                                                </p>
                                                <p class="color-gray-dark-alternative">
                                                    Ultimo messaggio inviato
                                                </p>
                                            </div>
                                        </div>
                                        <p class="last-message-time color-gray-dark-alternative">
                                            {{showTimeFunc(contact.messages[contact.messages.length - 1].date, "hours")}}
                                        </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="chat-container">
                    <div class="section-header bg-gray">
                        <div>
                            <img :src="contactsList[chatId].avatar" alt="contact profile image">
                            <div class="contact-evidence-info">
                                <p>
                                    {{contactsList[chatId].name}}
                                </p>
                                <p class="color-gray-dark-alternative">
                                    Ultimo accesso oggi alle 12:00
                                </p>
                            </div>
                        </div>
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="messages-container">
                        <ul class="messages">
                            <li class="message" v-for="messages in contactsList[chatId].messages" :class="(messages.status === messageStatusParameterCondition) ? messageStatus[0] : messageStatus[1] ">
                                <p class="message-text-chat">
                                    {{messages.message}}
                                </p>
                                <p class="message-time-chat">
                                    {{showTimeFunc(messages.date, "hours")}}
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="input-message-container bg-gray">
                        <i class="fa-regular fa-face-smile"></i>
                        <input type="text" placeholder="Scrivi un messaggio">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <script src="js/script.js"></script>
</body>
</html>